/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif; */
.text > h1{
    font-family: 'Poppins', sans-serif;
    font-size: 6rem;
    margin: 0;
    text-align: center;
}
.text > h3{
    font-family: 'Raleway', sans-serif;
    font-style: oblique;
    font-size: 3rem;
    margin: 0;
    padding: 1rem;
    text-align: center;
}


.MainContainer{
    /* background-image: url(https://i.imgur.com/o0P4JUr.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.text{
    /* background-color: rgba(0, 0, 0, 0.656); */
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.buttonContainer{
    display: flex;
    /* background-color: beige; */
    height: 5rem;
    width: 10rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: black;
}

.buttonM{
    display: flex;
    border-radius: 30%;
    background-color: white;
    border: 3px solid rgb(255, 255, 255);
    padding: 5px;
}
#mainphoto{
    z-index: -1;
}
.buttonM:hover{
    background-color:#08fdd8;
    border: #08fdd8 7px solid
}


@media (max-width: 655px) {
    .text > h1{
        font-size: 4rem;
    }
    .text > h3{
        font-size: 2rem;
    }
    
}
@media (max-width: 450px) {
    .text > h1{
        font-size: 3.5rem;
    }
    .text > h3{
        font-size: 1.5rem;
    }
    
}