.formC {
  display: flex;
  flex-direction: column;
  height: 25rem;
  /* background-color: white; */
  width: 20rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.input {
  line-height: 28px;
  border: 2px solid transparent;
  width: 18rem;
  /* Barra */
  border-bottom-color: rgb(255, 255, 255);
  padding: 0.2rem 0;
  outline: none;
  background-color: transparent;
  /* TEXTO */
  color: #ffffff;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media (max-width: 420px){
  .input{
    width: 15rem;
  }
}
@media (max-width: 360px){
  .input{
    width: 12rem;
  }
}

.input:focus,
.input:hover {
  outline: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  /* borde hover */
  border-color: #fafafa;
}

.input::placeholder {
  /* placeholder color */
  color: rgb(255, 255, 255);
}

.input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

/* //////////////////// button /////////////////// */

/* From uiverse.io by @adamgiebl */
.button {
  font-family: inherit;
  font-size: 20px;
  background: #08fdd8;
  color: black;
  font-family: "Raleway", sans-serif;
  font-style: oblique;
  font-weight: bold;

  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  width: 8rem;
}

.button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.button:hover span {
  transform: translateX(5em);
}

.button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
